:root{
--scroll-bg-light:#2a85fc;
--scroll-bg-dark:#1B5BAC;
--top-header-bg-light:#2a85fc;
--top-header-bg-dark:#1B5BAC;
--top-header-text-color:#1cf3a4;
--top-header-text-color-hover:#14e096;
--top-header-icon-color:#1B5BAC;
--top-header-icon-color-hover:#2a85fc;
--sidebar-nav-bg-1:#f8f9fa;
--sidebar-nav-bg-2:#f1f2f3;
--sidebar-nav-text-color:#1B5BAC;
--sidebar-nav-text-color-hover:#2a85fc;
--sidebar-nav-icon-color:#1B5BAC;
--sidebar-nav-icon-color-hover:#2a85fc;
--text-color-prim-1:#1B5BAC;
--text-color-prim-2:#3f3f3f;
--text-color-prim-3:#fbfbfb;
--bg-color-prim-1:#1B5BAC;
--bg-color-prim-2:#3f3f3f;
--bg-color-prim-3:#fbfbfb;
--tab-light:#bed9fb;
--tab-dark:#98c2f7;
--lihover-dark:#e4f5fd;
--lihover-light:#f7f7f7;
}